[
    {
        "url": "http://rate.bot.com.tw/Pages/Static/UIP003.zh-TW.htm",
        "indicators":
        [
            {
                "name": "JPY in Bank of Taiwan",
                "xpath": ".//*[@id='slice1']/div[2]/table[2]/tr[10]/td[2]",
                "condition": "< 0.30",
                "message": "JPY "
            },
            {
                "name": "USD in Bank of Taiwan",
                "xpath": "//*[@id='slice1']/div[2]/table[2]/tr[3]/td[2]",
                "condition": "< 35",
                "message": "USD is less than 30 dollars "
            }
        ]
    }
]
